__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.venv/
venv/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

.env
config/*.env
!.gitkeep

*.log

.idea/
.vscode/

docker-data/

